/* About me */
.about-me {
  background-color: white;
  padding-bottom: 50px;
}
.about-text {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}
.about-text p {
  font-size: 16px;
  line-height: 30px;
}
.about-text p a {
  color: #18a3cc;
}
