/* About me */
.about-me {
  background-color: white;
  padding-bottom: 50px;
  height: auto;
}
.about-text {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  position: relative;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}
.about-text p {
  font-size: 16px;
  line-height: 30px;
}
.about-text p a {
  background: white;
  color: #18a3cc;
}
