<section class="header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <img style="padding-top: 15px" src="../assets//images/menu.png" alt="">
                </a>

                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/">About me</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/medium">Medium</a>
                    </li>
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <a href="/">About me</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/medium">Medium</a>
            </li>
        </ul>
    </div>
    <div class="header-name">
        <h1>TATIANA MOLINA</h1>
    </div>
    <div class="header-prof">
        <h2>
            <hr/> FRONTEND DEVELOPER
            <hr/>
        </h2>
    </div>
</section>