<section class="projects row">
    <div class="title col s12">
        <h2>
            <hr/> PROJECTS
            <hr/>
        </h2>
    </div>
    <div class="projects-container col s12">
        <div class="project col s12 l3">
            <a target="_blank" rel="noopener" href="https://github.com/tatymoly/three_monkey">
                <img src="../assets/images/monkey.jpg" alt="Threejs Monkey">
                <h3>Loading 3D objects with Three.js</h3>
            </a>
        </div>
        <div class="project col s12 l3">
            <a target="_blank" rel="noopener" href="https://github.com/tatymoly/threejs-basics">
                <img src="../assets/images/threecube.jpg" alt="Threejs Cube">
                <h3>Basic 3D Scene with Three.js</h3>
            </a>
        </div>

    </div>
</section>