<section class="header">
  <div class="header-name">
    <h1>TATIANA MOLINA</h1>
  </div>
  <div class="header-prof">
    <h2><hr/> FRONTEND DEVELOPER <hr/></h2>
  </div>
</section>

<section class="projects">
  <div class="title">
      <h2><hr/> PROJECTS <hr/></h2>
  </div>
  <div class="projects-container">
      <div class="project">
        <a href="">
            <img src="../assets/images/monkey.png" alt="">
            <h3>Loading 3D objects with <a href="">Three.js</a></h3>
        </a>
      </div>
      <div class="project">
        <a href="">
            <img src="../assets/images/threecube.png" alt="">
            <h3>Basic 3D Scene with <a href="">Three.js</a></h3>
        </a>
      </div>
      
  </div>
</section>

<section class="about-me">
    <div class="title">
        <h2><hr/> ABOUT ME <hr/></h2>
    </div>
    <div class="about-text">
      <p>Hey! My name is Tatiana Molina. I'm a FrontEnd Developer, in love with Javascript. I'm <a href="">Colombian</a>,
        but I live in <a href="">Santiago de Chile</a>. I love food, but I don't enjoy that much bread with avocado.
      </p>
      <p>Right now I work at <a href="">Simple Moviles</a>, a mobile phone Company. I'm the main FrontEnd Developer there, we
      work with Angular 4, Angular Material and Materialize.</p>
      <p>I love learning, sharing and meeting people. That's why I'm part of <a href="">Noders</a>, a super cool software
      community. We make cool events like <a href="">SantiagoJS</a> and <a href="">BurgerJS</a>, so if you are in Santiago someday,
    come and join us!</p>
    <p>I'm passionate about traveling, videogames and virtual reality. If you want to know more about my profesional life, here is my
      <a href="">Resume.</a> Or if you want to know more about me, feel free to say hello!!
    </p>
    </div>
</section>

<section class="footer">
  <div class="social-media">
      <a href=""><i class="fab fa-linkedin"></i></a>
      <a href=""><i class="fab fa-github-square"></i></a>
      <a href=""><i class="fab fa-medium"></i></a>
      <a href=""><i class="fab fa-twitter-square"></i></a>
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fas fa-envelope-square"></i></a>
  </div>  
</section>