.header {
  width: 100%;
  height: 350px;
  background-color: #f0a7a4;
  color: #ffffff;
  text-align: center;
}
h2 {
  background-color: #3f3f3f;
  padding: 5px 0px 5px 0px;
  display: flex;
}
.header-name {
  width: 40%;
  margin-left: 30%;
  padding-top: 130px;
}
.header-name h1 {
  padding: 20px;
  border: solid 2px #ffffff;
  font-size: 50px;
}
.header-prof {
  position: absolute;
  width: 30%;
  margin-left: 35%;
  margin-top: -20px;
}
.header-prof h2 hr {
  width: 15px;
  border: none;
  background-color: white;
  height: 2px;
  margin-top: 3%;
}
.title {
  width: 20%;
  color: white;
  margin-left: 10%;
  padding-top: 100px;
}
.title h2 {
  font-size: 20px;
}
h2 hr {
  width: 15px;
  border: none;
  background-color: white;
  height: 2px;
}
.title h2 hr {
  width: 2px;
}

/* Projects */
.projects {
  background-color: white;
  padding-bottom: 70px;
}
.projects-container {
  width: 90%;
  display: flex;
  margin-top: 30px;
  margin-left: 10%;
}
.project {
  text-align: center;
  width: 30%;
  margin-top: 30px;
  padding-top: 25px;
}
.project img {
  width: 250px;
}
.project h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #6d6d6c;
  width: 90%;
  margin-left: 5%;
  border: dashed 2px #f0a7a4;
}

/* About me */
.about-me {
  background-color: #eeeded;
  padding-bottom: 50px;
}
.about-text {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}
.about-text p {
  font-size: 16px;
  line-height: 30px;
}
.about-text p a {
  color: #ff8c87;
}
/* Footer */

.footer {
  height: 70px;
  background-color: #f0a7a4;
  margin: 0;
  padding-top: 10px;
}
.footer .social-media {
  text-align: center;
  margin: 0;
  padding-top: 15px;
}
.footer a i {
  font-size: 36px;
}
.footer a {
  color: #3f3f3f;
  margin: 3px;
}
.footer a:hover {
  color: #212121;
}

@media only screen and (max-width: 992px) {
  .title {
    width: 50%;
    margin-left: 5%;
    padding-top: 50px;
  }
  .header-name {
    width: 90%;
    margin-left: 5%;
    padding-top: 100px;
  }
  .header-prof {
    width: 70%;
    margin-left: 14.5%;
  }
  .header-prof h2 {
    display: inherit;
  }
  .header-prof h2 hr {
    display: none;
  }
  .projects-container {
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-left: 0;
  }
  .project {
    width: 100%;
  }
}
